.app-layout {
  display: flex;
}

/* Sidebar fixed */
.sidebar {
  width: 250px;
  background: #1e1e2f;
  color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

/* Main content shifted to right */
.main-content {
  margin-left: 250px;   /* 👈 sidebar ke width ke barabar */
  padding: 20px;
  flex: 1;
  min-height: 100vh;
  background: #f9f9f9;
}
